name: Builder

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build add-on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, i386]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build add-on
        uses: home-assistant/builder@2024.09.0
        with:
          args: |
            --${{ matrix.arch }} \
            --target hasync \
            --docker-hub ghcr.io/${{ github.repository_owner }}
